*, *::after, *::before {
	box-sizing: border-box;
}

body {
	background-color: pink;
	background-image: url(background-images/back-groung-img.jpg);
	background-position: top center;
	background-repeat: repeat-y;

}


.cageOne {
	float: left;
	margin: auto 0;
	background-color: white;
	margin: 0;
	text-align: center;
}

.cageTwo {
	float: right;
	margin: auto 0;
	background-color: white;
	margin: 0;
	text-align: center;
}

h1 {
	background-color: white;
}

h1, h2, h3, button {
	text-align: center;
}
